* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

body {
	font-family: var(--ff-secondary);
}

.header {
	background: var(--primary-bg);
	color: var(--primary-color);
	font-size: var(--font-size-m);
	height: 80px;

}

.logo {
	height: 80px;
	width: 80px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-items {
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.search__nav {
	height: 40px;
	width: 200px;
	border-radius: 5px;
	border: 0px;
	padding-left: 10px;
	font-size: var(--font-size-m);
}

.btn-search {
	height: 40px;
	width: 70px;
	border-radius: 5px;
	border: 1.5px solid #0d6efd;
	font-size: var(--font-size-m);
	color: #0d6efd;
	background: inherit;
	margin-right: 20px;
}

.btn-search:hover {
	color: #fff;
	background: #0d6efd;
}

.main {
	background: var(--secondary-bg);
	padding-top: var(--padding-xl);
}

.main-items {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.img__main {
	width: 450px;
	height: 450px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	font-size: var(--font-size-m);
}

th,
td {
	text-align: start;
	border-bottom: solid 1px #fff;
	height: 40px;
}

.col {
	display: flex;
	justify-items: start;
	align-items: baseline;
	flex-direction: column;
}

.footer {
	background: var(--primary-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.nav__footer {
	width: 120px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}